ABAS_HOMEDIR=/abas/s3
ABAS_CLIENTDIR=/abas/erp1
ABAS_CLIENTID=erp-train

EDP_CLIENT=/abas/erp1
EDP_USER=
EDP_PASSWORD=sy
EDP_HOST=DOCKER_ENV_HOST
EDP_PORT=6569

NEXUS_HOST=DOCKER_ENV_HOST
NEXUS_PORT=8090
NEXUS_NAME=abas-essentials-libs
NEXUS_PASSWORD=admin123

SSH_HOST=DOCKER_ENV_HOST
SSH_PORT=2214
SSH_USER=erp
SSH_PASSWORD=none
SSH_KEY=

installType=SSH

version=0.11.8
